.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cityName {
  font-weight: 400;
  font-size: 38px;
}

.icon {
  height: 2em;
  width: 2em;
  margin: 40px 0 0 5px;
}

.weatherDescription {
  font-weight: 400;
  font-size: 18px;
  margin-top: -1.5rem;
  margin-bottom: 30px;
}

.mainTemp {
  font-weight: 400;
  font-size: 48px;
  justify-content: center;
  margin-top: auto;
}

.minTemp {
  font-weight: 400;
}

.maxTemp {
  font-weight: 400;
  margin-left: 35px;
}

.maxMin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -60px;
  margin-bottom: 20px;
  margin-right: 20px;
  font-size: 24px;
}

.degree {
  font: 0.75em 'Fira Sans', sans-serif;
}
