.App {
  text-align: center;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
/*   background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container {
/*   display: grid;
  grid-column: 1fr 2fr 1fr;
  box-sizing: border-box;
  width: 100%;
  border: solid #5B6DCD 10px;
  padding: 5px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1em
}

.cityName {
  font-weight: 400;
  font-size: 2rem;
}

.icon {
  height: 2rem;
  width: 2rem;
  margin: 2em 0 0 .5em;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.weatherDescription {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  margin-top: -1.5rem;
}

.mainTemp {
  font-weight: 400;
  font-size: 2rem;
  justify-content: center;
  margin-top: 20px;
}

.minTemp {
  font-weight: 400;
}

.maxTemp {
  font-weight: 400;
  margin-left: 15px;
}

.maxMin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -30px;
  margin-bottom: 20px;
}

.degree {
  font: .75em 'Fira Sans', sans-serif;
}

hr {
  margin-bottom: 20px;
}

.zipLabel {
  margin-left: -120px;
  font-size: 12px;
}

input {
  width: 5em;
  padding: 5px;
  background: #fff;
  color: #45474b;
  border-radius: 2px;
  border: 1px solid #1111115d;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-weight: 200;
  font-size: 12px;
}

input:focus {
  outline: none
}

button {
  padding: 7px 30px 7px 30px;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 10px;
  box-shadow: initial;
  border-radius: 5px;
  border: 1px solid #0808085d;
  box-shadow:  inset 10px 10px 30px rgba(134, 134, 134, 0.2);
  background-color: rgba(187, 184, 184, 0.562);
  text-shadow: 0px 1px rgb(228, 221, 221)

}